body {
  margin:0px; 
  #background-color:#f7f7f7; 
  font-family:Arial,Verdana,Helvetica,sans-serif; 
  font-size:11pt;
}
textarea, pre, code { font-size:0.9em; }
pre, code { font-family:'Lucida Console','Andale Mono','Courier New',Courier; }
pre { line-height:1.2em; }
pre code, code code, pre pre { font-size:100%; }

h1, h2, h3, h4, h5, h6 { margin-top:1.0em; margin-bottom:0.6em; }
h1, h2, h3, h6 { font-weight:normal; }
h4, h5 { font-weight:bold; }
h1 code, h2 code, h3 code, h4 code { font-size:1em; }
h1 { font-size:1.8em; }
h2 { font-size:1.44em; }
h3 { font-size:1.22em; }
h4 { font-size:1.07em; }
h5 { font-size:1.0em; }
h6 { font-size:1.0em; }

table.bodyTable tr th{
    font-weight: bold;
    text-align:left;
    background:#a6caf0;
}
table.bodyTable tr td{
    background:#eeeee0;
}
 
div#header {
	height:100px;
	overflow:hidden;
	/*background-image:			url(/images/rubygems-125x125.png);*/
}
div#navigation {
 float:left;
 left:5px;
 width:150px;
}
div#main {
 #border-left:1px solid #ccc;
 background-color:#fff;
 margin-left:150px;
}

div.faq {
}

div.faq div.question {
	font-style: italic;
	font-weight: bold;
}

div.faq div.question p {
	margin-bottom: 0px;
}

div.faq div.answer {
}

div.faq div.answer p {
	margin-top: 0px;
}

div#footer {
	font-size: 85%;
	font-style: italic;
	text-align: center;
}

